<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C.E.M.G Héctor V. Medina</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header>
      <h1>C.E.M.G Héctor V. Medina</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/acerca-de">Acerca de</a></li>
          <li>
            <a
              href="https://www.facebook.com/cemghector.v.medina.9"
              class="icon-facebook"
              >Facebook</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="bienvenida">
        <h3>Bienvenido al relleno de formulario para los de Primer Ingreso</h3>
        <p>Haz click en el botón de abajo para rellenar el formulario.</p>
        <a href="formularios" class="button">Formulario</a>
      </section>
      <section class="acerca-de">
        <h2>Acerca de</h2>
        <p>El C.E.M.G Técnico Héctor V. Medina es una institución educativa ubicada en Valle de Ángeles, F.M., comprometida con la formación integral de sus estudiantes. Fundado con el propósito de ofrecer una educación de calidad, el colegio se destaca por su enfoque en el desarrollo académico, social y personal de los jóvenes.</p>
      </section>
    </main>

    <footer>
      <a href="https://www.facebook.com/cemghector.v.medina.9" class="social-icon">Facebook</a>
      <a href="https://twitter.com" class="social-icon">Twitter</a>
      <a href="https://instagram.com" class="social-icon">Instagram</a>
      <p>&copy; 2024 C.E.M.G Héctor V. Medina. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
